.aperitiv-input {
  .x-input-el {
    line-height: $textfield-input-line-height-big;
    padding: $textfield-input-padding-big;
    font-size: $textfield-input-font-size-big;
    font-family: $textfield-input-font-family;
    width: 100%;
  }
}
