.aperitiv-location-picker .x-listitem {
  font-size: 20px;
  line-height: 24px;

  .x-inner-el {
    max-width: 100%;
  }
  .x-innerhtml {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .aperitiv-location-picker-icon {
    width: 30px;
    height: 47px;
    line-height: 47px;
  }

  .aperitiv-location-picker-text {
    flex: 1;
    height: 47px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
