@import "Linearicons";

$base-color: #FF1744;

$button-line-height: 28px;
$button-line-height-big: 28px;
$button-icon-font-size: 28px;
$button-icon-font-size-big: 28px;

$listitem-padding-big: 14px 0;
$listitem-padding: 14px 0;

$cleartrigger-icon: unicode($icon-cross) Linearicons;
$datetrigger-icon: unicode($icon-calendar-full) Linearicons;
$timetrigger-icon: unicode($icon-clock3) Linearicons;